<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <br>
        <h1 class="page-header">
            Gestion Projets
        </h1>

    </div>
</div>
<!-- /.row -->

<!-- Main content -->
<section class="content">

    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="col-xs-12 ">


            <div class="box-body">


                    <h4>C'est une application de gestion des projets universitaires</h4>

                    <a href="/login" class="btn" ng-show="!main.isLoggedIn">So connecter</a>
                    <a href="/logout" ng-click="main.logout();" class="btn" ng-show="main.isLoggedIn">So déconnecter</a>

            </div>


        </section>
        <!-- /.Left col -->
    </div>
</section>


