<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <br>
        <h1 class="page-header">
            Profile
        </h1>

    </div>
</div>
<!-- /.row -->

<!-- Main content -->
<section class="content">

    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="col-xs-12 ">


            <div class="box-body">

                <h1>Profile de {{main.prenom}}</h1>

                <div class="panel panel-info">
                    <div class="panel-heading" style="text-align: center;"><strong>User Profile</strong></div>
                    <table class="table">
                        <tr>
                            <td><strong>Nom :</strong></td>
                            <td><strong>Prenom :</strong></td>
                            <td><strong>CNE :</strong></td>
                            <td><strong>Email :</strong></td>
                            <td><strong>Telephone :</strong></td>
                            <td><strong>Role :</strong></td>
                            <td><strong>Mot De Passe :</strong></td>
                        </tr>
                        <tr>
                            <td><strong>{{main.nom}}</strong></td>
                            <td><strong>{{main.prenom}}</strong></td>
                            <td><strong>{{main.cne}}</strong></td>
                            <td><strong>{{main.email}}</strong></td>
                            <td><strong>{{main.telephone}}</strong></td>
                            <td><strong>{{main.role}}</strong></td>
                            <td><strong>****************</strong></td>
                        </tr>
                    </table>
                </div>

            </div>


        </section>
        <!-- /.Left col -->
    </div>
</section>

