<!-- Page Heading -->
<br>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Tableau de bord <small> Espace Professeur</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-calendar"></i> Calendrier
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="col-xs-12 ">
            <div class="box box-info">
                <div class="box-header">
                    <h3>Calendrier</h3>
                </div>
                <hr>
                <div class="box-body">
                  <div ng-controller="calendrierCtrl">



                       <!--  <div id='calendar' ui-calendar="uiConfig.calendar" ng-modal="eventSources" calendar="myCalendar"></div>

                      <div class="col-md-4">
                          <div ng-show="SelectedEvent" class="alert alert-success" style="margin-top: 50px">
                              <h2 style="margin-top:0px">Selected Event</h2>
                              <h3 style="color:#A9A50E">{{SelecedEvent.title}}</h3>
                              <p>{{SelecedEvent.description}}</p>
                          </div>
                      </div>
-->

<!--
                         <div id='calendar' ui-calendar="uiConfig.calendar" ng-modal="eventSources" calendar="myCalendar"></div>
-->


                      <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>




                  </div>
            </div>
                </div>
        </section>
        <!-- /.Left col -->

    </div>
</section>
